@import '@scss/variable';

.user-login {
  @include flexVc();
  max-width: 158px;
  margin-right: 50px; 
  color: #555;
  transition: color .09s;
  cursor: pointer;

  &:hover {
    color: var(--theme);
  }
  .user-avatar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-image: url("@assets/img/user.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 0 center;
  }

  .user-text {
    flex: 1;
    padding-left: 8px;
    font-size: 13px;
  }



}

.login-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 540px;
  height: 400px;
  background-color: $colorbase;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  filter: drop-shadow(0 0 20px rgba(120,140,140, .3));
  z-index: 100;

 &-head {
   @include flexHeVc();
   padding: 18px 24px;

   i {
     color: #777;
     font-size: 14px;
     cursor: pointer;
     &:hover {
       color: var(--theme);
     }
   }
 }

 &-body {
   padding: 20px 40px;

   .login-button {
     @include flexHcVc();
   }

 }

}