@import "@scss/variable";

.yuan-router-menu {
  h5 {
    padding: 0 14px 18px 14px;
    color: #999;
    font-size: 15px;
  }

  .yuan-router-list {
    li:not(:last-of-type) {
      margin-bottom: 14px;
    }

    .yuan-list-item {
      height: 32px;
      padding: 0 12px;
      color: #444;
      line-height: 32px;
      border-radius: 6px;
      overflow: hidden;
      transition: background-color 0.2s ease-in, color 0.18s ease-out;

      &:not(.active-online-link):hover {
        background-color: rgba(120, 120, 120, 0.16);
      }

      &.active-online-link {
        background-color: var(--theme);
        color: #fff;
      }
    }
  }
}
