@import "@scss/variable";

.main-header {

  .header-left,
  .header-right {
    @include flexVc();
  }

  .page-turn {
    @include flexVc();
    margin-right: 30px;
    cursor: pointer;
  } 

  .icon-arrowleft,
  .icon-arrowright {
    font-size: 24px;

    &:hover {
      color: var(--theme);
    }

  }
 
  .music-search-input {
    input {
      min-width: 220px;
      max-width: 280px;
      // border: none;
      //   background-color: rgba(140, 140, 140, 0.12);
      // border-radius: 20px;
      &::-webkit-input-placeholder {
        color: #888;
      }
    }
  }
}
