@import "@/scss/variable";

.yplayer-artist {
  height: 100%;
}

.artist-container {
  height: 100%;
}

.artist-top { 

  &-left {
    padding: 0 28px;
    text-align: center;

    .artist-avatar {
      img {
        width: 100%;
        border-radius: 100%;
      }
    }
  }

  &-right {
    .artist-name {
      padding: 18px 0 14px 0;
      .artist-real-name {
        color: #444;
        font-size: 26px;
        font-weight: 600;
      }

      .artist-alias {
        margin-left: 1em;
        color: #999;
        font-size: 13px;
      }
    }

    .artist-operate {
      @include flexVc();
      padding: 10px 0;
    }

    .artist-info {
      @include flexVc();
      padding-top: 20px;
      h6 {
        padding-bottom: 10px;
        padding-right: 10px;
        color: #333;
        font-size: 14px;
        font-weight: 600;
      }

      p {
        color: #666;
        padding-bottom: 10px;
        font-size: 14px;
        text-align: justify;
        line-height: 1.6;
      }
    }
  }
}

.artist-main {
  padding: 0 20px 40px 20px;
}

.artist-menu {
 
}
