@import "@scss/variable";

.yplayer-home-nav {
  $logoBoxHeight: 120px;

  height: 100%;
  padding-left: 30px;
  background-color: rgba(172, 170, 170, 0.12);
  overflow: hidden;

  .navbody-scroller {
    height: calc(100% - #{$logoBoxHeight});
  }

  &body {
    margin-right: 16px;
  }

  .yplayer-logo {
    height: $logoBoxHeight;
    padding: 20px 0 60px 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left center;
      filter: invert(50%) sepia(87%) saturate(1967%) hue-rotate(116deg)
        brightness(104%) contrast(93%);
    }
  }

  .online-item {
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
  }
}