@import "@scss/variable";

.yplayer-header-fullscreen {
  position: relative;
  width: 25px;
  height: 25px;
  color: #555;
  cursor: pointer;

  .icon-fullscreen,
  .icon-cancelfullscreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }
}