@import "@scss/variable";

.play-switch {
  @include flexHcVc();
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: var(--theme);
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: filter 0.1s;

  &:hover {
    filter: brightness(115%);
  }
}

.prev-music,
.next-music {
  margin: 0 8px;
  color: #666;
  font-size: 34px;
  cursor: pointer;
  transition: color 0.1s;
  &:hover {
    color: var(--theme);
  }
}

.volume {
  position: relative;
  margin-right: 50px;

  &-noumenon,
  &-duplicate {
    font-size: 22px;
    color: #555;
    cursor: pointer;
    transition: color 0.1s;
    &:hover {
      color: var(--theme);
    }
  }

  &-suspension {
    position: absolute;
    bottom: calc(100% + 18px);
    left: 50%;
    z-index: 99;  
    background-color: #fff;
    transform: translateX(-50%);
    border-radius: 8px;
    filter: drop-shadow(0 0 28px rgba(117, 102, 98, 0.4));

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%; 
      border-top: 9px solid #fff;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent; 
      transform: translateX(-50%);
    }
  }

  &-progressbar {
    @include flexHc();
    height: 160px;
    padding: 20px 0 14px 0;
  }

  &-ratio {
    padding-bottom: 14px;
    color: #555;
    font-size: 18px;
    text-align: center;
  }

  &-duplicate {
    padding: 12px 28px;
    border-top: 1px solid #eee;
  }

}

.music-love-icon {
  font-size: 22px;
  color: #777;
  cursor: pointer;
  transition: color .1s;

  &:hover {
    color: var(--theme);
  }

}

.current-playtime {
  font-size: 15px;
  color: #777;
  padding-right: 20px;
}