@import "@/scss/variable";
@import "@/scss/el-theme";

.mv-wrap {
  @include flex();
  flex-wrap: wrap;
  min-height: 400px;
  padding-top: 1em;

  .mv-item {
    position: relative;
    width: 18%;
    transition: transform 0.2s, filter 0.14s;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 30px rgba(100, 100, 100, 0.3));
      transform: translateY(-6px);
      img {
        filter: brightness(75%);
      }
    }

    img {
      width: 100%;
      border-radius: 8px;
      filter: brightness(90%);
      transition: filter 0.14s;
    }

    &:not(:nth-of-type(5n)) {
      margin-right: 2.5%;
    }
    &:nth-of-type(n + 6) {
      margin-bottom: 2.5%;
    }

    em.playCount {
      position: absolute;
      right: 1em;
      top: 1em;
      padding: 0.5em;
      background-color: rgba(170, 180, 180, 0.36);
      color: rgba(240, 240, 240);
      border-radius: 0.5em;
    }

    h6 {
      color: #444;
      padding: 1em 0;
      text-align: justify;
      line-height: 1.4;
    }

    p {
      color: #666;
      padding-bottom: 1em;
    }
  }
}
