
@import "@/scss/variable";

$baseSongTableHeight: 40em;

.song-table {
  position: relative;
  min-height: $baseSongTableHeight;
  &-loadingIcon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $baseSongTableHeight;
  }
}

.song-table {
  .song-list-item {
    transition: background-color 0.14s;
    &:hover {
      background-color: rgba(120, 140, 130, 0.1);
      .song-list-cell {
        background-color: transparent;
      }

      .song-tools {
        opacity: 1;
      }
    }
  }

  .song-tools {
    @include flexVc();
    opacity: 0;
  }

  .song-publish-time,
  .song-name,
  .song-duration,
  .song-album {
    color: #455;
    font-size: 14px;
  }

  .song-body-left {
    @include flexVc();
  }

  .song-name {
    padding-right: 4em;
  }

  .song-love {
    @include flexVc();
  }

  .icon-xihuan,
  .icon-plus,
  .icon-play,
  .icon-downlaod {
    fill: #666;
    margin-right: 12px;
    cursor: pointer;
  }

  .icon-plus,
  .icon-play,
  .icon-downlaod {
    width: 22px;
    height: 22px;
  }

  .icon-xihuan {
    width: 18px;
    height: 18px;
  }
}