@import "@/scss/variable"; 

.subscriber-list {
  .user-layer {
    .user-item {
      cursor: pointer;

      img {
        border-radius: 100%;
      }

      .user-name {
        text-align: center;
        line-height: 2.8;
      }
    }
  }
}
