/** @format */

@import '@scss/variable';

.main-header {
	.header-left,
	.header-right {
		@include flexVc();
	}

	.page-turn {
		@include flexVc();
		margin-right: 30px;
		color: #777;
		font-size: 24px;
		cursor: pointer;

		&[disabled='true'] {
			cursor: initial;
			color: rgba(180, 180, 180);
		}

		&:hover {
			color: var(--theme);
		}
	}

	.music-search-input {
		input {
			min-width: 220px;
			max-width: 280px;
			// border: none;
			//   background-color: rgba(140, 140, 140, 0.12);
			// border-radius: 20px;
			&::-webkit-input-placeholder {
				color: #888;
			}
		}
	}

	.header-fullscreen {
		position: relative;
		width: 25px;
		height: 25px;
		color: #555;
		cursor: pointer;
		transition: color 0.12s;

		&:hover {
			color: var(--theme);
		}

		.icon-fullscreen,
		.icon-cancelfullscreen {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 24px;
		}
	}
}
