@import "@scss/variable";

.player-detail {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 2600px;
  min-width: 980px;
  min-height: 600px;
  overflow: hidden;
  z-index: 150;
  transform: translateY(100%);
  // visibility: hidden;
  transition: 0.3s;
  // transition: .3s cubic-bezier(.22,.65,.48,.89);
  // transition: .3s cubic-bezier(.72,.39,.42,.86);

  &[show="true"] {
    // visibility: visible;
    transform: translateY(0);
  }

  .player-bgcover-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 151;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.65;
    filter: blur(44px);
    transition: background 0.25s, filter 0.2s;
  }

  .player-back {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 155;
    cursor: pointer;
  }

  .player-content {
    @include flexHbC();
    position: relative;
    z-index: 153;
    width: 100%;
    height: 100%;
    padding: 0 40px;
  }
}

.player-content {
  backdrop-filter: blur(20px);

  .player-body {
    padding: 80px 0 60px 0;
    flex: 1;
    @include flexHbVe();
    .player-cover {
      flex: 1;
      align-self: center;
      @include flexHeVc();

      img {
        width: $playbillWidth;
        height: $playbillWidth;
      }
    }

    .player-info {
      flex: 2;

      .player-song {
        padding-bottom: 20px;
        color: $colorbase;
        text-align: center;

        .player-title {
          height: 22px;
          font-size: 22px;
          font-weight: 500;
        }

        .player-author {
          padding: 16px 0 40px 0;
          font-size: 15px;
          opacity: 0.6;
        }
      }
    }
  }
}
