@import "@/scss/variable";

.yplayer-home {
  height: 100%;
  overflow: hidden;
 
  .home-layout {
    height: 100%;
    overflow: hidden;
  }

  .home-right {
    position: relative;  
    padding-left: 45px; 
  }
}
