@use "sass:math";
@import "variable";

* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  @include noSelect;
  object-fit: contain;
}

ul,
ol {
  list-style-type: none;
}

br {
  font-size: 0;
}

h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button,
textarea,
input {
  appearance: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

em,
i {
  font-style: normal;
}

[scrollbar="auto"] {
  overflow-y: auto;
}

[scrollbar="overlay"] {
  overflow-y: auto;
  overflow-y: overlay;
}

[scrollbar] {
  scrollbar-width: auto;
  scrollbar-color: $colorscrollbar transparent;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: $scrollbarWidth;
    height: $scrollbarWidth;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colorscrollbar;
    border-radius: math.div($scrollbarWidth, 4);
  }
  &::-webkit-scrollbar-track {
    background-color: $colornoop;
  }
}

[singallinedot] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[visibility="true"] {
  visibility: visible;
}
[visibility="false"] {
  visibility: hidden;
}

@supports (aspect-ratio: 1) {
  @for $ratio from 1 through 70 {
    $realRatio: math.div($ratio, 10);

    [aspectratio="#{$realRatio}"] {
      width: 100%;
      aspect-ratio: $realRatio;
      > img {
        display: block;
        width: 100%;
        transition: .12s;
      }
    }
  }
}

@supports not (aspect-ratio: 1) {
  @for $ratio from 1 through 70 {
    $realRatio: math.div($ratio, 10);
    $paddingBottomPercent: math.div(10, $ratio) * 100%;

    [aspectratio="#{$realRatio}"] {
      position: relative;
      width: 100%;
      padding-bottom: $paddingBottomPercent;
      > img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: .12s;
      }
    }
  }
}
