@import "variable.scss";
@import "common.scss"; 
@import "swiper.scss";


$white: #fff;
$green: rgb(30, 204, 148);
$gray: rgb(94, 88, 88);
 
.yplayer-icon {
  display: inline-block;
  position: relative;
  transition: filter 0.28s;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
 
  @each $type in $iconTypes {
    &[data-icon-type="#{$type}"] {
      .icon-#{$type} {
        opacity: 1;
      }
    }
  }
  
  &-setting {
    width: 22px;
    height: 22px;
  }

  &-fullscreen {
    width: 22px;
    height: 22px;
  }

  &-location {
    width: 24px;
    height: 24px;
  }

  &-download {
    width: 30px;
    height: 30px;
    color: $white;
  }

  &-order {
    width: 26px;
    height: 26px;
  }

  &-prev {
    width: 30px;
    height: 30px;
  }

  &-play {
    width: 24px;
    height: 24px; 
  }

  &-pause {
    width: 22px;
    height: 22px; 
  }

  &-playHollow {
    width: 28px;
    height: 28px;
  }

  &-suspension-play {
    width: 16px;
    height: 16px;
  }

  &-next {
    width: 26px;
    height: 26px;
  }

  &-volume {
    width: 26px;
    height: 26px;
  }

  &-playlist {
    width: 20px;
    height: 20px;
  }

  &-translate {
    width: 24px;
    height: 24px;
  }

  &-battery {
    width: 28px;
    height: 28px;
  }
}

.icon { 
  fill: currentColor;
  transition: filter 0.2s, fill 0.2s;

  &:hover {
    filter: brightness(115%);
    fill: $green!important;
  }

  &-white {
    fill: $white!important;
  }

  &-gray {
    fill: $gray!important;
  }

  &-green {
    fill: $green!important;
  }

  &[active="true"] {
    fill: $green!important;
  }
 
}
 

