@use "sass:math";

$scrollbarWidth: 8px;
$playbillWidth: 360px;
$colorscrollbar: rgba(0, 0, 0, 0.18);
$colornoop: transparent;
$colorbase: rgb(254, 254, 254);
$colortaobao: #f40;

$lyricContainerMaxheight: 440px;
$lyricItemheihgt: math.div($lyricContainerMaxheight , 11);

$homeTopHeaderHeight: 80px;
$homeBottomControllerHeight: 80px;

/* 控制不同类型的图标实时显示 */
$iconTypes: order, singalLoop, random, loop, play, pause, volume, muted, full,
  cancelFull;

@mixin noSelect {
  user-select: none;
  -webkit-user-drag: none;
}

@mixin flexInline {
  display: inline-flex;
}

@mixin flex {
  display: flex;
}

@mixin flexV {
  @include flex();
  flex-direction: column;
}

@mixin flexVc {
  @include flex();
  align-items: center;
}

@mixin flexVe {
  @include flex();
  align-items: flex-end;
}

@mixin flexHb {
  @include flex();
  justify-content: space-between;
}

@mixin flexHa {
  @include flex();
  justify-content: space-around;
}

@mixin flexHev {
  @include flex();
  justify-content: space-evenly;
}

@mixin flexHe {
  @include flex();
  justify-content: flex-end;
}

@mixin flexHbC {
  @include flexV();
  @include flexHb();
}

@mixin flexHc {
  @include flex();
  justify-content: center;
}

@mixin flexHbVc {
  @include flexVc;
  @include flexHb;
}

@mixin flexHbVe {
  @include flexVe;
  @include flexHb;
}

@mixin flexHeVc {
  @include flexVc;
  @include flexHe;
}

@mixin flexHcVc {
  @include flexHc();
  @include flexVc();
}

@mixin flexHcVe {
  @include flexHc();
  @include flexVe();
}

@mixin flexHevVc {
  @include flexHev();
  @include flexVc();
}
