@import "@scss/variable";


.play-switch {
  @include flexHcVc();
  position: relative;
  cursor: pointer;
}
 
.controller-widget {
  position: relative;

  &-noumenon,
  &-duplicate {
    color: #555;
    cursor: pointer;  
    i {  
      font-size: 22px;  
    } 
  }

  &-noumenon {
    &:hover {
      color: var(--theme);
    }  
  }

  &-suspension {
    position: absolute;
    bottom: calc(100% + 18px);
    left: 50%;
    z-index: 99;
    background-color: #fff;
    transform: translateX(-50%);
    padding: 8px 0;
    border-radius: 8px;
    filter: drop-shadow(0 0 28px rgba(117, 102, 98, 0.4));
  
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      border-top: 9px solid #fff;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      transform: translateX(-50%);
    }
  }

} 

.play-order {
  margin-left: 50px;

  &-duplicate {
    &-item {
      @include flexHcVc();
      padding: 8px 18px;
      margin: 0 2px;
      &:not(:last-of-type) {
        border-bottom: 1px solid #eee;
      }

      &:hover {
        color: var(--theme);
        background-color: rgb(248, 245, 244);
      }  

      span {
        @include flexInline();
        width: 4rem;
        margin-left: .5rem;
        font-size: 14px;
      }
    }
  }

}

.volume {
  position: relative;
  margin-right: 50px;
 
  &-progressbar {
    @include flexHc();
    height: 160px;
    padding: 20px 0 14px 0;
  }

  &-ratio {
    padding-bottom: 14px;
    color: #555;
    font-size: 18px;
    text-align: center;
  }

  &-duplicate {
    padding: 10px 28px 2px 28px;
    border-top: 1px solid #eee;
    &:hover {
      color: var(--theme);
    }  
  }
}

.music-love-icon {
  font-size: 22px;
  color: #777;
  cursor: pointer;
  transition: filter 0.1s;  
  
  &:hover {
    filter: brightness(116%);
  }

  &:hover,
  &[loved="true"] {
    color: var(--theme);
  }

}

.current-playtime {
  font-size: 15px;
  color: #777;
  padding-right: 20px;
}

.music-singer {
  font-size: 13px;
  font-weight: 400;
  & > span {
    transition: 0.1s;
    cursor: pointer;
    &:hover {
      color: var(--theme);
    }
  }
}
