@import "@/scss/variable"; 

.song-list {
  .music-wrap {
    min-height: 100px;
    padding: 20px;

    .music-item { 
      .music-cover {
        transition: transform 0.2s ease-in-out, filter 0.18s,
          backdrop-filter 0.18s;
        cursor: pointer;
        &:hover {
          transform: translateY(-8px);
          filter: drop-shadow(0 0 28px rgba(38, 38, 38, 0.3));
          backdrop-filter: blur(10px);
        }
        img {
          border-radius: 6px;
        }
      }

      .music-body {
        h6 {
          color: #555;
          font-size: 15px;
          font-weight: bold;
          line-height: 3;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .music-creator {
          @include flexVc();
          font-size: 14px;

          .creator-avatar-wrap {  
            max-width: 38px;
            border-radius: 100%;
            overflow: hidden;

            img {
              &:hover {
                transform: scale(1.2); 
              }
              transition: transform .2s;
              cursor: pointer;
            }
          }

          .creator-title {
            color: #555;
          }

          .creator-nickname { 
            flex: 1;
            text-align: right;
            span {
              color: #777;
              transition: color .14s;
              cursor: pointer;
              &:hover{
                color: var(--theme)
              }
            } 
           
          }

        }

      }

    }

    .songlist-empty {
      @include flexHcVc();
      min-height: inherit;
    }

  }
}
