/** @format */

@import '@scss/variable';

.song-comment-container {
	.content-layer {
		@include flexVc();
		padding-top: 20px;
		color: $colorSettingName;

		h6 {
			min-width: 5em;
		}

		mark {
			text-indent: 2rem;
		}
	}
}
